# Archivo generado automáticamente por Ansible

global
    log /dev/log    local0
    log /dev/log    local1 notice
    maxconn 2048
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http_front
    bind *:80
    mode http
    default_backend http_back

backend http_back
    balance roundrobin

{% if env == "dev" %}
    # Backend para DEV
{% for srv in dev_servers %}
    server {{ srv.name }} {{ srv.ip }}:{{ srv.port }} check
{% endfor %}
{% elif env == "prod" %}
    # Backend para PROD
{% for srv in prod_servers %}
    server {{ srv.name }} {{ srv.ip }}:{{ srv.port }} check
{% endfor %}
{% endif %}

# Información generada
# env = {{ env }}
# hostname = {{ ansible_hostname }}
# ip = {{ ansible_default_ipv4.address }}
